.DS_Store
*.ignore
source/.git
source/docs
source/package-lock.json
node_modules
package-lock.json
deployment/staging
deployment/open-source
deployment/global-s3-assets
deployment/regional-s3-assets
.vscode/settings.json
licenses.json
license-deptree.txt
tests/functional/**/*.d.ts
tests/functional/**/*.js